/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
body{background-color:#edeff6;color:#000}
a:link, a:visited, a:hover, a:active{color:#000;text-decoration:none}
div{width:265px;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
div section{display:inline-flex;font-size:1.3em}
div section a{display:inline-block;padding:0 0.1em;margin:13px 0}
div section p{padding:0;margin:0 0 0 10px;font-family:'Noto Serif',serif}